<div class="p-4">
    <div class="flex justify-between">

        <div class="normal flex font-poppins text-yellow-500 p-4">

            <h1 class="text-4xl font-bold flex justify-center">Nord <span class="text-amber-800 pr-1">Bite</span></h1>
        </div>

        <label class="flex cursor-pointer p-8 gap-2">

            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
            </svg>

            <input type="checkbox" (change)="toggleTheme()" class="toggle theme-controller" />
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="12" cy="12" r="5" />
                <path
                    d="M12 1v2M12 21v2M4.2 4.2l1.4 1.4M18.4 18.4l1.4 1.4M1 12h2M21 12h2M4.2 19.8l1.4-1.4M18.4 5.6l1.4-1.4" />
            </svg>
        </label>
    </div>
    <!-- <div class="flex h-dvh w-full items-center justify-center">
        <div class="bg-transparent rounded-box flex justify-center items-center h-[80px] w-28">
            <h1 class="btn btn-outline bg-yellow-500 text-black">HELLO</h1>
        </div>
    </div> -->
    <!-- <article class="prose w-full">
        <h1>HELLO</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam ex culpa expedita neque quos quod? Animi ad
            laborum ex quia laboriosam, nesciunt debitis repudiandae illum, mollitia cum, iste at earum!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error facere quas, voluptatem ad repellat ratione
            pariatur ea tempore, eius ab beatae at aperiam perferendis vitae modi perspiciatis sed molestiae illo.</p>
    </article> -->
</div>