<div class="pl-8">
    <div class="card-body mr-[2%] p-6">
        <div class="grid grid-cols-4 gap-4 text-yellow-800">
            <div class="col-span-1">
                <h5 class="card-title text-xl font-semibold">Date</h5>
            </div>
            <div class="col-span-1">
                <h5 class="card-title text-xl font-semibold">Danish Word</h5>
            </div>
            <div class="col-span-1">
                <h5 class="card-title text-xl font-semibold">English Alternative</h5>
            </div>
            <div class="col-span-1">
                <h5 class="card-title text-xl font-semibold">Meaning</h5>
            </div>
        </div>
    </div>
    <div class="card mb-4 hover:cursor-pointer mt-4 mr-[2%] bg-transparent shadow-lg rounded-lg border border-yellow-500">
        <div class="card-body p-6">
            <div class="grid grid-cols-4 gap-4 text-gray-800 dark:text-gray-300">
                <div class="col-span-1">
                    <h5 class="card-title text-xl font-semibold">02/09/2024</h5>
                </div>
                <div class="col-span-1">
                    <h5 class=" text-xl font-semibold">advisering</h5>
                </div>
                <div class="col-span-1">
                    <p class="text-xl font-semibold  text-gray-800">Notification</p>
                </div>
                <div class="col-span-1">
                    <p class="text-base font-semibold  text-gray-800">To Notify something</p>
                </div>
            </div>
        </div>
    </div>



</div>