<div class="p-8">
    <header class="flex justify-center mx-auto w-1/2 sm:w-dvw h-52">

        <div class="diff relative ">
            <!-- main word -->
            <div class="diff-item-2 absolute inset-0 transition-opacity duration-500"
                [ngClass]="{'opacity-100': !showItem1, 'opacity-0': showItem1}">
                <div class="text-yellow-500 grid place-content-center text-9xl font-black">afdeling</div>
            </div>

        </div>


    </header>

    <div class="flex justify-center" *ngIf="showItem1">

        <button class=" m-4 p-2 bg-transparent text-2xl rounded btn btn-outline" (click)="toggleItems()">Unveil Today's
            Word</button>
    </div>
    <!-- !todo to insert to if condition -->
    @if(!showItem1){

    <div class="flex relative">
        <article class="items-center mt-7 flex mx-auto justify-center gap-56 transition-opacity duration-500">
            <h2 class="text-3xl font-semibold text-amber-800">Pronounciation</h2>
            <span class="flex text-2xl">
                <h4 class="mt-2 me-4">avˌde.lin</h4>
                <button class="btn btn-outline" (click)="wordPronounciation()">Pronoune</button>
            </span>

        </article>

    </div>
    <article class="items-center me-6 justify-center gap-44 mt-7 flex mx-auto">
        <h2 class="text-3xl me-11 font-semibold pt-3 text-amber-800">English Alternative</h2>
        <h4 class="text-2xl">department</h4>

    </article>

    <a href="#" class="group mt-10 w-3/4 mx-auto relative block h-20 sm:h-80 lg:h-48">
        <span class="absolute inset-0 border-2 border-dashed "></span>

        <div
            class="relative flex h-full transform items-center border-2 justify-center transition-transform group-hover:-translate-x-2 group-hover:-translate-y-2">
            <div class="p-4 !pt-0 transition-opacity group-hover:absolute group-hover:opacity-0 sm:p-6 lg:p-8">


                <h2 class="mt-4 text-2xl  font-bold sm:text-2xl text-amber-800">Checkout for Example</h2>
            </div>

            <div
                class="absolute p-4 opacity-0 transition-opacity group-hover:relative group-hover:opacity-100 sm:p-6 lg:p-8">
                <h2 class="mt-4 text-xl font-medium sm:text-2xl">Go around the world</h2>



            </div>
        </div>
    </a>
    }
</div>